---                      
import '../styles/global.css' 
---   

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Go Be Smart - Smart Heat Pump Management Dashboard</title>
		<meta name="description" content="Revolutionary dashboard for installers to monitor and control heat pumps remotely. Making commissioning, servicing, and customer support faster and simpler." />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
