---                      
import '../styles/global.css' 
---   

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/gbs_logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO Meta Tags -->
		<title>Go be smart - Sustainable heating simplified</title>
		<meta name="description" content="Revolutionary dashboard for installers to monitor and control heat pumps remotely. Making commissioning, servicing, and customer support faster and simpler." />

		<!-- Security Meta Tags -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="referrer" content="strict-origin-when-cross-origin" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
